.h2, h2 {
    font-size: 2rem;
    font-family: fantasy;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
    font-family: fantasy;
    font-size: 23px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #00dcff;
}

.btn {
    font-family: fantasy;
}

.btn-dark {
    color: #69edfb;
    background-color: #343a40;
    border-color: #343a40;
}

.w-75 {
    width: 75%!important;
}

div {
    color: #ef2510;
    font-family: fantasy;
}

.image{
    height:67em; 
    background-size:cover;
    width:auto;
    background-image:url('https://cdn.pixabay.com/photo/2016/10/16/02/33/game-characters-1744210_1280.jpg'); 
    background-position:50% 50%;
  } 